<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyCoreMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />
    <link rel="stylesheet" href="~/css/test_style.css" />

</head>
<body>

    <header>
        
        <!--
            <partial name="_MenuBar"></partial>
            Html.RenderPartial("_MenuBar");
            await Html.RenderPartialAsync("_MenuBar.cshtml");
            await Html.PartialAsync("_MenuBar.cshtml");  
        -->
        <!-- Note that you can use either <partial> tag or await Html.PartialAsync() to render partial view asyncronously an it is very clean-->
        <partial name="_MenuBar"></partial>       

    </header>
    <div class="container">
        <main role="main" class="mt-2 pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - MyCoreMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
