@model MyCoreMVC.Models.TodoListTestModel

<form action="post">

    <div class="border-p3">
        <input asp-for="TaskId" hidden />
        <div class="form-group">
            <h2 class="text-info">Edit Task</h2>
        </div>
    </div>

</form>