@using System.Collections.Generic;
@{
    ViewData["Title"] = "Home Page";
    var listApp = new List<string>();

    listApp.Add("Category");
    listApp.Add("Application Type");
    listApp.Add("Todo List");
    

}
<!--
@foreach (var item in listApp)
{
    <div class="card">
        <img src="#" alt="Image Cap">
        <div class="card-body">
            <h5 class="card-title">@item</h5>
            <p class="card-text">This is a simple Category Application</p>
            <a href="" class="btn btn-primary">Open</a>
        </div>
    </div>    
}
-->
<div class="card-container">
    <div class="card">
        <!--<img src="#" alt="Image Cap">-->
        <div class="card-body">
            <h5 class="card-title">Category</h5>
            <p class="card-text">This is a simple Category Application</p>
            <a class="btn btn-primary" 
               asp-controller="Category" 
               asp-action="Index">Open</a>
        
        </div>
    </div>
    <div class="card">
        <!--<img src="#" alt="Image Cap">-->
        <div class="card-body">
            <h5 class="card-title">Application Type</h5>
            <p class="card-text">This is a simple Application Type</p>
            <a  class="btn btn-primary"
                asp-controller="ApplicationType" 
                asp-action="Index">Open</a>
        
        </div>
    </div>
    <div class="card">
        <!--<img src="#" alt="Image Cap">-->
        <div class="card-body">
            <h5 class="card-title">Todo List</h5>
            <p class="card-text">This is a simple Todo List Application</p>
            <a class="btn btn-primary" 
               asp-controller="Todo" 
               asp-action="Index">Open</a>
        
        </div>
    </div>  
</div>

<style>
    .card-container{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: flex;
        justify-content: space-between;
        margin: 1rem;
    }
    .card{
        border-radius: 25px;
        width: 18rem;
        margin: 1rem;
    }
</style>